.DS_Store
vue/node_modules
/build
/private/*
/rf2settings.egg-info
/dist
/web/

# local env files
.env.local
.env.*.local

# Log files
debug.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
/code_analysis.py
