.int-font {
  font-family: Inter, "Segoe UI", system-ui, sans-serif;
}

.title {
  font-weight: 200;
  text-shadow: 1px 1px 2px black;
}
.title::selection { background: transparent; }
.title::-moz-selection { background: transparent; }

.fade-enter-active, .fade-leave-active { transition: opacity 3s, height 3s; }

.fade-enter, .fade-leave-to {opacity: 0; height: 0;}

.btn-rf-orange, .btn-rf-blue { font-weight: 300; }
.btn-rf-orange.active, .btn-rf-blue.active { font-weight: 400; }
#top-menu .active, #top-menu .inactive {
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8), 0 6px 20px 0 rgba(0, 0, 0, 0.75); */
  text-shadow: #161616 1px 1px 1px;
}

.no-pointer { pointer-events: none; }

#spacer { z-index: -10; position: relative; }
/*.img-slider { position: absolute; z-index: 1; width: 100%; height: 30rem; }*/
#i-overlay {
  position: absolute;
  width: 100%; top: 0; left: 0; overflow: hidden; z-index: 1;
}
#top-menu { position: relative; }
#gfx-presets { top: -1rem; position: relative; }
.img-caption { position: absolute; width: 100%; bottom: 0; }
.img-caption a { line-height: 1.1rem; width: 100%; font-family: Ubuntu, "Segoe UI", sans-serif; }
#img-gradient {
  position: absolute;
  background: linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0) 100%);
  height: 6rem; width: 100%; z-index: -5;
}

#img .flux-image, #img.img-slider { border-radius: 0.075rem; overflow: clip; z-index: 0;}
.remainder { display: none; }
.flux-caption {
  background-color: transparent !important;
  background: radial-gradient(circle at 50% 250%, rgba(0,0,0, 0.85) 10%, rgba(0,0,0,0) 30%);
}